setuptools==69.5.1
django==4.2
djangorestframework==3.14
django-allauth==0.61
djangorestframework-simplejwt==5.3
django-cors-headers==4.3
psycopg2==2.9.9
python-dotenv==1.0
celery==5.3
redis==5.0
gunicorn==21.2
requests==2.31
flower==2.0